@model MvcCodeFlowClientManual.Models.ServiceCallResult
@{
    ViewBag.Title = "Arlo Service result";
}
<h2>Service result</h2>
@if (!String.IsNullOrEmpty(Model.FailureCode)) {
    <h3>@Model.FailureCode</h3>
}
<h3>Headers</h3>
@Html.Raw(Model.Headers)
<h3>Body</h3>
<pre>@Model.Body</pre>